.login
  max-width: 60%
  display: flex
  justify-content: space-around
  margin: 100px auto
  padding: 15px
  background-color: #fff

  h1
    font-size: 40px

  & .info
    width: 50%
    text-align: center
    h1
      margin-bottom: 30px
    p
      font-size: 30px
      margin: 50px 0

  & .form
    width: 40%
    text-align: center